body {
    background-color: #adb5bd;
    background-image: url("../img/bg11.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


#logo {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 3px black, 0 0 0.75em red;

}

.navbar-my {
    margin-top: 100px;
}

/* .container-my {
    border: 2px solid red;
    color: chartreuse;
    font-size: 20px;
    background: #4e555b;
}

.container-my2 {
    border: 2px solid red;
    color: chartreuse;
    font-size: 20px;
    background: #0b2e13;
}
 */
.overlay {
    background: rgba(244,244,244,0.79);
}