body {
    background-color: #adb5bd;
    background-image: url("../img/bg11.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


#logo {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 3px black, 0 0 0.75em red;

}

.navbar-my {
    margin-top: 100px;
}

.rightBar {
    border-radius: 4px ;
    background: rgba(244, 244, 244, 0.75);
    padding: unset;
}
.rightBarButtonSlide {
    border: solid 1px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}


.MainContainer {
    margin-top: 10px;
}

 .ToView {
    border: 2px solid red;
    color: blue;
    font-size: 20px;
    background: #4e555b;
}

.ToView2 {
    border: 2px solid yellow;
    color: #930d67;
    font-size: 20px;
    background: #0b2e13;
}

.overlay {
    background: rgba(244,244,244,0.79);
}

.footerContainer {
    margin-top: 10px;
}
.footer1 {
    text-align: center;
    padding: 10px;
    background-color: #343a40 ;
    color: #b3b7bb;
    height: 50px;
    font-size: 18px;


}